/* Google fonts import - heading & body  */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    min-width: 100vw;
    flex-direction: column;
    /* justify-content: center;
    align-content: center;  */
    min-height: 100vh;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}


/* --------------------------
        REUSABLE STYLES
-------------------------- */

.wrapper {
    max-width: 90em;
    margin: 0 auto;
    /* padding: 0% 2%; */
    /* width: 95%; */
    /* display: flex; */
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}


/* header, main, footer {
    min-width: 100%;
    align-self: center;
} */



h1,
h2,
h3,
h4 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 28px;
}

a {
    text-decoration: none;
    margin-top: 30px;
    color: black;
}

.section-spacing {
    margin: 50px 0px;
}

.section-padding {
    padding: 0% 2%;
}


.btn {
    border-radius: 1.5rem;
    background: black;
    color: #ffffff;
    padding: 10px 30px;
    border: none;
    margin-top: 10px;
    display: inline-block;
}

.btn-light {
    border-radius: 1.5rem;
    background: white;
    color: black;
    padding: 15px 30px;
    border: none;
    margin-top: 15px;
    display: inline-block;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}


/* --------------------------
            HEADER
-------------------------- */


#top-promo-banner {
    background: url('../images/bubbles-background.jpeg');

}

#top-promo-banner div:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 60px;
}


#top-promo-banner div>div {
    margin-right: 20px;
    font-weight: 700;
}



/* --------------------------
            NAVBAR
-------------------------- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

nav ul li {
    padding: 10px;
    display: inline-block;
}

nav ul li:hover {
    background: #F5F5F5;
    border-radius: 20%;
}

nav input {
    border-radius: 3em;
    padding: 10px 15px;
    background-color: #F5F5F5;
    border: none;
}

nav svg {
    margin-left: 10px;
}

/* --------------------------
            SECTIONS
-------------------------- */
#hero {
    text-align: center;
    margin-bottom: 100px;
}

#hero p {
    padding-bottom: 20px;
}

#best-sellers h2 {
    padding-bottom: 40px;
}

#best-sellers p,
span {
    padding: 5px 0px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    /* overflow: auto; */
    border-bottom: 5px solid rgb(207, 207, 207);
}

.card {
    flex-grow: 1;
    margin: 10px;
    padding: 20px;
    /* width: 20%; */
    background-color: rgba(245, 245, 245);
    border-radius: 1em;
    text-align: center;
}

.card p:first-of-type {
    text-transform: uppercase;
}

.card-alt {
    /* flex-grow: 1; */
    margin: 10px;
    padding: 20px;
    width: 30%;
    border-radius: 1em;
    text-align: center;
}

/* .card > h2, p, span {
    padding-bottom: 15px;
} */



#brewdog-restaurant {
    display: flex;
    flex-wrap: wrap;

}

#brewdog-restaurant div {
    width: 30%;
    margin: 10px;
    flex-grow: 1;
    height: 30%;
}

@media all and (max-width: 768px) {
    #brewdog-restaurant div {
        width: 100%;
    }
}





#carbon-negative {
    background-image: url('../images/eco-banner.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30em;
    padding: 70px;
    color: white;
    text-align: center;
}

#carbon-negative h2 {
    margin-bottom: 20px;
}

#brewdog-commercial {
    display: flex;
    flex-wrap: wrap;
}

#brewdog-commercial div {
    width: 20%;
    margin: 10px;
    flex-grow: 1;
    height: 30%;
}

#carbon-quality {
    display: flex;
    flex-wrap: wrap;
}


#carbon-quality div {
    width: 48%;
    flex-grow: 1;
    margin: 10px;
}

#sign-up-banner {
    background-color: #F5F5F5;
    width: 100%;
    padding: 10px 0px;
}

#sign-up-banner input {
    display: inline-block;
    padding: 15px;
    border-radius: 5px;
}

#sign-up-banner div:first-of-type {
    justify-content: space-between;
    align-items: center;
}

footer {
}

footer div:first-of-type {
    justify-content: space-between;
    flex-wrap: wrap;
}

footer ul {
    list-style: none;
}

footer select {
    display: block;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

footer .nav-socials div a {
    padding-right: 15px;
}

footer .nav-socials img {
    margin-top: 30px;
}

#copyright-banner {
    background-color: #F5F5F5;
    padding: 10px 0px;
}